/*        GLOBAL RESET             */

/** {
  outline: 1px solid #ccc;
}*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*     GRID LAYOUT     */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.col {
  margin: 0 auto;
  box-sizing: border-box;
}
.left {
  float:left;
}
.right {
  float: right;
}
.inline {
  display: inline-block;
}
.fixed {
  position: fixed;
}
.tall {
  height: 100%;
}
.twelfth {
  width: 8.333333333333%;
}
.sixth {
  width: 16.677777777777%;
}
.fifth {
  width: 20%;
}
.quarter {
  width: 25%;
}
.third {
  width: 33.3%;
}
.half {
  width: 50%;
}
.fluid-half {
  width: 50%;
  float: left;
}
.two-thirds {
  width: 66.67777777777777%;
}
.three-q {
  width: 75%;
}
.five-sixth {
  width: 83.333333333333%;
}
.full {
  width: 100%;
}
.white {
  background-color: white;
}
.t-padded {
  padding-top: 50px;
}
.ghost {
  z-index: 100;
  background-color: rgba(255,255,255,.6);
}
.nav-btn a {
  text-decoration: none;
  font-family: "Helvetica Neue", "pragmatica-web", sans-serif;
  color: #a0a0a0;
  font-size: .9rem;
  font-weight: 100;
  text-align: center;
  display: block;
  height: 25px;
  line-height: 25px;
}
.nav-btn a:hover, .nav-btn.current a {
  color: #000;
  text-shadow: 0 0 1px rgba(0,0,0,.5);
}
.highlighted {
  box-shadow: 0 0 5px #ccc;
}
.middle {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.separator {
  border: none;
  height: 1px;
  margin: 300px 0;
  background: #ccc;
}
.first h2:last-child {
  margin-bottom: 30px;
}
a.logo h1, h2 {
  font-family: "Helvetica Neue", "pragmatica-web", sans-serif;
  color: #fff;
  font-weight: 100;
}
a.logo h1 {
  font-size: 5rem;
  letter-spacing: 3px;
  line-height: 3.7rem;
  -webkit-transition: color .5s;
  transition: color .5s;
}
a.logo h2 {
  margin: 20px 0 20px 4px;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: .3rem;
}
a.logo .bold {
  font-family: "Helvetica Neue", "pragmatica-web", sans-serif;
  font-weight: 700;
  letter-spacing: -7px;
  margin-left: -1px;
}
.pushed {
  margin-left: 50%;
}
.center {
  margin: 0 auto;
  display: inline;
}
.mark {
  position: absolute;
  right: 3%;
  bottom: 3%;
  display: inline-block;
  cursor: pointer;
}
a.logo {
  text-decoration: none;
}
.logo:hover h1 {
  color: #ddd;
  /*-webkit-transform:;*/
}

.icons {
margin: 0 0 5px 3px;
}
.social-link {
  text-decoration: none;
  display: inline-block;
  margin-top: 5px;
}
svg .social {
  fill: #FFF;
  -webkit-transition: fill .5s;
  transition: fill .5s;
}
svg:hover .social {
  fill: #ccc;
}
svg .contact-icon {
  -webkit-transition: fill .3s;
}
svg:hover .contact-icon {
  fill: #aaa;
}
svg .transparent {
  fill: rgba(255, 255, 255, 0);
}
.side-note {
  position: absolute;
  right: 12px;
  top: 35px;
  text-decoration: none;
  color: #fff;
  font-family: "Garamond", serif, sans-serif;
  font-size: 3rem;
  cursor: pointer;
  display: block;
}
.nav-box:last-child {
  border-right: 1px solid #ccc;
}
.nav-box {
  color: rgb(150,150,150);
  /*background-color: white;*/
  font-size: 1.6rem;
  text-align: right;
  vertical-align: middle;
  padding: 10px 30px 0 0;
}
.nav-box h2 {
  color: #aaa;
}
#about {
  border-top: 1px solid rgba(0,0,0,.1);
}
.divider {
  width: 230px;
  height: 1px;
  background: #ccc;
  border: none;
  margin-right: 0px
}
.spacer {
  height: 1px;
  box-shadow: 0 2px 5px #ccc;
}
.content p {
  color: rgb(100,100,100);
  line-height: 1.7rem;
} 
.container p, .container span {
  color: rgb(100,100,100);
  line-height: 1.15rem;
}
.three-q p {
  margin-bottom: 30px;
}
.container {
  margin-top: 30px;
}
.content h3 {
  font-family: "Helvetica Neue", "pragmatica-web", sans-serif;
  font-size: 2.5rem;
  font-weight: 100;
  color: #aaa;
}
.content img {
  width: 100%;
  margin: 0 auto;
}
.content h2 {
  color: #aaa;
  font-size: 4.3rem;
  margin-bottom: 1rem;
}
.prj-link {
  display: block;
}
.grey {
  background-color: rgb(252,252,254);
}
.grey h2 {
  color: #aaa;
}
.bottom-shadow {
  box-shadow: 0px 0px 5px #aaa;
}
.menu {
  text-decoration: none;
  color: #ddd;
  font-family: "Helvetica Neue", "pragmatica-web", sans-serif;
  font-weight:700;
  font-size: 2rem;
  display: block;
}
.menu:hover {
  color: #ccc;
}
section p {
  font-family: "Helvetica Neue", "pragmatica-web", sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
}
#contact {
  margin-bottom: 15px;
  box-shadow: 0 3px 10px black;
}
.contact-option {
  padding: 20px;
}
.contact-option h2 {
  text-align: center;
}
.content .contact-option hr {
  width: 60%;
  margin: 0px auto 40px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.10), rgba(0,0,0,0));
  background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.10), rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.10), rgba(0,0,0,0));
  background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.10), rgba(0,0,0,0));
}
.contact-option object {
  display: block;
  height: auto;
  position: relative;
  padding: 20%;
  margin-bottom: 45px;
}
.resume {

}
.email {

}
.connect-box {
  padding: 2%;
  width: 47%;
}
.colophon {
  color: white;
  font-family: "Helvetica Neue", "pragmatica-web", sans-serif;
  font-weight: 100;
  font-size: .8rem;
  text-align: center;
  margin-bottom: 10px;
}
.colophon a {
  text-decoration: none;
  color: white;
}
.colophon a:hover {
  text-decoration: underline;
}
.side-note object {
  width: 40px;
  display: block;
  height: auto;
  position: relative;
  padding-top: 100%;
}
.icons object {
  width: 22px;
  display: block;
  height: auto;
  position: relative;
  padding-top: 100%;
}
svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.module-container {
  padding: 5% 5% 9% 5%;
}
.module {
  height: 250px;
  width: 300px;
  outline: 1px solid #ccc;
}
.module img {
  width: 100%;
  opacity: .6;
  -webkit-transition: opacity .4s;
}
.description {
  position: relative;
  padding: 2rem 2% 2% 2%;
  width: 46%;
}
.description h2 {
  color: #aaa;
  margin-left: none;
  font-size: 1.3rem;
  -webkit-transition: color .4s;
}
.description p {
  color: #aaa;
  line-height: 1.2rem;
  -webkit-transition: color .4s;
  font-size: 1rem;
}
.description p strong {
  font-size: .8rem;
  font-weight: 500;
}
.test {
  height: 400px;
}
.row hr, .content hr {
  border: none;
  background: #ccc;
  margin: 10px 0;
  height: 1px;
}
.row:hover p, .row:hover h2 {
  color: rgb(100,100,100);
}
.row:hover img {
  opacity: 1;
}
#svg {
  height: 300px;
  width: 100%;
  border: 1px solid #ccc;
  position: relative;
  left: 20%;
}
.get {
    display:none;
}
 
#diagram {
    position: relative;
    height: 240px;
    width: 240px;
}
.last {
  margin-bottom: 30px;
}
.half .left .clear-grid, .third .left .clear-grid {
  width: 100%;
  float: none;
}
.me {
  position: relative;
  top: 3px;
  max-width: 430px;
  right: -80px;
}
.process {
  width: 100%;
  display: block;
  height: auto;
  position: relative;
  padding-top: 55%;
}
@media screen and (max-width: 1050px){
  .content p {
    font-size: 1rem;
    line-height: 1.15rem;
  }
  .content h3 {
    font-family: "Helvetica Neue", "pragmatica-web", sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    color: #aaa;
  }
  .content img {
    width: 100%;
    margin: 0 auto;
  }
  .content h2 {
    color: #aaa;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .description h2 {
    font-size: 1.3rem;
  }
  section p {
    font-size: 1rem;
  }
  .me {
    position: relative;
    top: 3px;
    max-width: 430px;
    right: 0;
  }
}
@media screen and (max-width: 768px) {
  a.logo h1 {
    font-size: 4rem;
    letter-spacing: 1.5px;
    line-height: 3rem;
    text-align: right;
  }
  a.logo h2 {
    text-align: right;
    font-size: 1.6rem;
  }
  a.logo .bold {
    margin-left: 0;
    margin-right: 11px;
  }
  .icons {
    position: absolute;
    left: 170px;
    top: -33px;
  }
  .description {
    width: 100%;
  }
  .content .contact-option hr {
    margin-bottom: 20px;
  }
  .fluid-half {
    width: 100%;
    float: none;
  }
  #diagram {
    margin-top: 40px;
  }
  .contact-option object {
    margin-bottom: 20px;
    padding: 40%;
  }
  .contact-option h2 {
    font-size: 1.6rem;
  }
  .me {
    max-width: 300px;
    right: -30%;
  }
  .prj-link {
    margin-top: 25px;
  }
}
@media screen and (max-width: 460px){
  .me {
    right: -15%;
    max-width: 250px;
  }
}
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}
.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
            transform: translate3d(0, -2000px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
            transform: translate3d(0, -2000px, 0);
  }

  100% {
    opacity: .5;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
          animation-name: fadeInDownBig;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: .5;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
}
.bigCircle {
  opacity: .5;
}