/*        GLOBAL RESET             */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*     GRID LAYOUT     */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.col {
  margin: 0 auto;
  box-sizing: border-box;
}
.left {
  float:left;
}
.right {
  float: right;
}
.inline {
  display: inline-block;
}
.fixed {
  position: fixed;
}
.tall {
  height: 100%;
}
.twelfth {
  width: 8.333333333333%;
}
.sixth {
  width: 16.677777777777%;
}
.fifth {
  width: 20%;
}
.quarter {
  width: 25%;
}
.third {
  width: 33.33333333333%;
}
.half {
  width: 50%;
}
.two-thirds {
  width: 66.67777777777777%;
}
.three-q {
  width: 75%;
}
.five-sixth {
  width: 83.333333333333%;
}
.full {
  width: 100%;
}
.white {
  background-color: #fff;
}
.ghost {
  background-color: rgba(255,255,255,.5);
}
.nav-btn a {
  text-decoration: none;
  font-family: "Helvetica Neue", sans-serif;
  color: #aaa;
  font-size: .8rem;
  font-weight: 100;
  text-align: center;
  display: block;
  height: 25px;
  line-height: 25px;
}
.nav-btn a:hover {
  color: black;
}
.nav-btn.current a {
  color: black;
}

.separator {
  border: none;
  height: 1px;
  margin: 300px 0;
  background: #ccc;
}
.first h2:last-child {
  margin-bottom: 30px;
}
h1, h2 {
  font-family: "Helvetica Neue", "Roboto", sans-serif;
  color: #fff;
  font-weight: 100;
}
h1 {
  font-size: 5rem;
  letter-spacing: 3px;
  line-height: 3.7rem;
  -webkit-transition: color .5s;
  transition: color .5s;
}
h2 {
  margin: 20px 0 20px 4px;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: .3rem;
}
.bold {
  font-weight: 700;
  letter-spacing: -7px;
  margin-left: -1px;
}
.pushed {
  margin-left: 50%;
}
.center {
  margin: 0 auto;
  display: inline;
}
.mark {
  position: absolute;
  right: 3%;
  bottom: 3%;
  display: inline-block;
  cursor: pointer;
}
a.logo {
  text-decoration: none;
}
.logo:hover h1 {
  color: #aaa;
  /*-webkit-transform:;*/
}
.icons {
margin: 0 0 5px 3px;
}
svg {
  width: 22px;
  margin-right: 3px;
}
svg .social {
  fill: #FFF;
  -webkit-transition: fill .5s;
  transition: fill .5s;
}
svg:hover .social {
  fill: #ccc;
}
svg .transparent {
  fill: rgba(255, 255, 255, 0);
}
.side-note {
  position: absolute;
  right: 12px;
  top: 10px;
  text-decoration: none;
  color: #fff;
  font-family: "Garamond", serif;
  font-size: 3rem;
  cursor: pointer;
}
.nav-box:last-child {
  border-right: 1px solid #ccc;
}
.nav-box {
  color: #ccc;
  font-size: 1.6rem;
  /*border-top: 20px solid #fff;*/
  text-align: right;
  vertical-align: middle;
  padding: 10px 30px 0 0;
  background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(75%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%); /* IE10+ */
  background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

}
.nav-box h2 {
  color: #ccc;
}
.inverse {
  background: -moz-linear-gradient(left,  rgba(255,255,255,1) 75%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(75%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 75%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(255,255,255,1) 75%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(255,255,255,1) 75%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(255,255,255,1) 75%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
  color: white;
}
.inverse h2 {
  color: white;
}
.content {
  height: 400px;
}
.grey {
  background-color: #ddd;
}
.menu {
  text-decoration: none;
  color: #ddd;
  font-family: "Helvetica Neue";
  font-weight:700;
  font-size: 2rem;
  display: block;
}
.menu:hover {
  color: #ccc;
}
.social-link {
  text-decoration: none;
  display: inline-block;
  margin-top: 5px;
}

.ribbon {
  /*width: 200%;*/
  /*height: 225px;*/
  margin-top: 125px;
  /*border-top: 1px solid #ddd;*/
  /*border-bottom: 1px solid #ddd;*/
  /*overflow-x: scroll;*/
  /*position: absolute;*/
  display: block;
}
.module {
  /*height: 225px;*/
  display: inline-block;
  width: 245px;
  /*background-color: #ccc;*/
  background-position: 20px 0 0 0;
  margin: 0 1px;
}
.module::after {
  content: ' ';
  height: 50px;
  position: absolute;
  width: 245px;
  background-color: #ddd;
  transition: background-color .3s;
}
.module:hover::after {
  background-color: #ccc;
}
.module h4 {
  font-family: "Helvetica Neue";
  font-weight: 100;
  font-size: 1.4rem;
  position: relative;
  top: -1.4rem;
  left: 5px;
}
.module img {
  display: none;
  max-width: 100%;
  opacity: .6;
  -webkit-transition: opacity .5s;
}
.module:hover img {
  opacity: 1;
}
.contact-card {
  display: none;
  padding: 10px;
  font-family: "Helvetica Neue";
  color: black;
  font-weight: 100;
}
.contact-card span, .contact-card a {
  display: block;
}
/*section h2 {
  color: #ccc;
  font-size: 1.6rem;
  margin-bottom: 20px;
}*/
section p {
  font-family: "Helvetica Neue";
  font-size: 1rem;
  font-weight: 100;
}
/*section:last-child {
  margin-bottom: 30px;
}*/